{{ vault_log_dir }}/vault.log
{
    missingok
    rotate {{ vault_logrotate_rotate }}
    daily
    dateext
    compress
    postrotate
        /bin/systemctl reload vault 2> /dev/null || true
    endscript
}
